@font-face {
  font-family: 'ibmDosFont';
  src: url('fonts/Px437_IBM_VGA9.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  height: 100%;
  width: 100%;
  background-color: #000084;
  margin:  0;
  padding:  0;
  font-family: 'ibmDosFont';
}

nav{
}

a{
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav a:hover{
  background-color: black;
  color: #C4C4C4;
  padding:20px;
  transition: all 1.5s linear;
}

li, a{
  list-style: none;
}

.full-content{
  display: grid;
  grid-row-gap: 10px;
  grid-template-rows: repeat(3, minmax(10px, auto));
  grid-template-columns: 20fr 60fr 20fr;
  /* padding:  20px; */
}

.nav-div{
  grid-row: 1 / 1;
  grid-column: 1 / 6;
}

.nav-bar{
  /* width: 100%; */
  background-color: #C4C4C4;
  padding: 20px 30px;
  display: grid;
  grid-template-columns: 8% 8% 14% 8% 8% 8%;

  /* align-self: stretch; */
}

.nav-get-started{
  grid-column: 3;
}

.displayimage{
  grid-row: 2;
  grid-column: 2;
  height: 30vw;
  width: 30vw;
  justify-self: center;
}

.about-header{
  background-color: #00AAAA;
  grid-row: 3;
  grid-column: 2;
  padding-left: 2vw;
  text-align: center;
}

.about-content{
  border: 0.2vw solid;
  padding: 1vw;
  stroke: #C4C4C4;
  stroke-width: 3;
  color: #C4C4C4;
  grid-row: 4;
  grid-column: 2;
}
